<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Graphed Data</title>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    	<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
	<link rel="icon" href="/favicon.ico" type="image/x-icon">
  </head>
  <body>
<script>
  let json;
  var ctx = document.getElementById('myChart').getContext('2d');
  $.getJSON(`${window.location.href}/api/all`, function(data) {
    json = data;
  });
  var parsed = json.parse();
  for (i in parsed.SensorData) {

  }
</script>
</body>
</html>
