<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Graphed Data</title>
  </head>
  <body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<canvas id="myChart" width="400" height="400"></canvas>
<script>
  let json;
  var ctx = document.getElementById('myChart').getContext('2d');
  $.getJSON(`${window.location.href}/api/all`, function(data) {
    json = data;
  });
  var parsed = json.parse();
  var myChart = new Chart(ctx, {
    type: 'line',
    data: [],
    options: {
      title: {
        display: true,
        text: 'Sensor Data Readings Throughout Flight'
      }
    } 
  });
</script>
</body>
</html>